// British Palette by Jan Losert from
// https://flatuicolors.com/palette/gb

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {}
// @media (min-width: 1140px) {}

// XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) {}

$color-white:       #ffffff;
$color-blue:        #4580FF;
$color-black-ink:   #012641;
$color-light-gray:  #F0F5FF;
$color-gray:        #C9D3E0;

$border-radius: 6px;

$theme-font-1: 'Inter', sans-serif;

//https://fonts.google.com/icons
$symbol-font: 'Material Symbols Outlined';

$container-width: 1280px;